
:root{
    --main-color: #FF5400;
}
*{
    margin: 0px;
    padding: 0px;
}
.main{
 margin:  0px 345px;
 padding: 0px 40px;
 /* display: grid;
 justify-content: center; */
}
.color{
    color: var(--main-color);
}
.navBar{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    padding-right: 10px;
}
.barSide{
    display: flex;
    align-items: center;
}
.barSide ul{
    display: flex;
    /* align-items: center; */
}
.icon-bar{
    display: none;
}
.barSide ul li{
    list-style: none;
}
.barSide ul li a{
    text-decoration: none;
    padding: 15px;

}
.barSide ul li a:hover{
    background: var(--main-color);
    color: aliceblue;
    border-radius: 10px;
}
.bannar {
    /* border: 5px solid red; */
    height: 500px;
    width: 1120px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}

.bannar::before {
    content: "";
    display: block; /* Add this line */

    position: absolute;
    left: -10px;
    background: url('./Images/bannar.png') no-repeat center center/cover;
     /* background-size: cover; */
    height: 100%;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    filter: brightness(50%);
    z-index: -1;
}
.bannar  h1{
    /* padding: 20px ; */
    margin: 20px;
    font-size: 48px;
}
.bannar p{
color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
/* bannar section css I also use global element */
.bannar-contener{
    position: relative;
}
.down-arrow{
    position: relative;
    left: -26px;
    /* height: 100px; */
    /* width: auto; */
    color: black;
}

.tripInput{
    padding: 10px ;
    width: 80px;
}
.from-three{
    position: relative;
    left: -20px;
}
.from-search{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.30);
    /* width: 800px; */
    gap: 15px;
}
.find-btn{
    position: relative;
    left: -36px;
    height: 40px;
    width: 100px;
    padding-right: 0px;
    margin-right: 0px;
    background: var(--main-color);
    border: none;
    border-radius: 5px;
    color: aliceblue;
}
.find-btn:hover{
    cursor: pointer;
     
}
.from-one{
    padding-left: 20px;
    margin-left: 10px;
}
.popular{
    display: flex;
    padding: 50px 30px;
}
.discription{
    padding: 5px 30px;
}
.discription h1{
    font-size: 48px;
    /* padding: 40px; */
    /* color: #FF5400; */
}
.subHeading{
    font-size: 20px;
    padding: 10px;
    color: #5A5A5D;
    /* color: antiquewhite; */
}
.discription ul{
    font-size: 16px;
    color: #5A5A5D;
}
.discription ul li{
    padding: 10px;
}
.popularBtn{
    font-size: 20px;
    padding: 10px;
    background: var(--main-color);
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.destination{
    /* border: 5px solid red; */
    display: grid;
    justify-content: center;
}
.destination-title{
    /* display: grid;
    justify-content: center; */
    text-align: center;
}

.destination-title h1{
    font-size: 48px;
    padding: 30px;
    /* color: #FF5400; */
}
.destination-title p{
    padding: 15px;
    margin-bottom: 40px;
}

/* trying by grid */
/* .img1{
    grid-column: span 2;
    grid-column-end: span 1.5;
    width: 50%;
}
.destinationImg {
    display: grid;
    border: 5px solid yellow;
    /* grid-template-areas:
        "photo1 photo1 photo2"
        "photo3 photo4 photo5"; */
    /* grid-template-columns: repeat(3,1fr);

} */ 

/* .img1 {
    grid-area: photo1;
    background: red;
    grid-column: 50%;
}

.img2 {
    grid-area: photo2;
}

.img3 {
    grid-area: photo3;
}

.img4 {
    grid-area: photo4;
}

.img5 {
    grid-area: photo5;
} */
/* .destinationImg{
    
} */
.row1{
    display: flex;
    /* border: 5px solid yellowgreen; */
    width: 100%;
}
.indonasia{
    position: relative;
    /* border: 5px solid green; */
    padding: 10px;
    width: 50%;
}

.country-name{
    position: absolute;
    color: aliceblue;
    left: 40%;
    top: 40%;
    font-size: 45px;
}

.indonasiaImg2{
    padding: 10px;
    width: 98%;
    height: 90%;
}
.indonasia2{
    position: relative;
    /* border: 5px solid rgb(22, 79, 184); */
    width: 25%;
}
.indonasia3{
    position: relative;
    /* border: 5px solid rgb(22, 79, 184); */
    width: 50%;
}
.indonasia4
{
    
        position: relative;
        /* border: 5px solid rgb(22, 79, 184); */
        width: 40%;
        padding: 5px;   
}
.country-name2{
    position: absolute;
    color: aliceblue;
    left: 30%;
    top: 40%;
    font-size: 45px
}
.indonasiaImg{
    position: relative;
    /* width: 100%;
    height: 100%; */
    /* margin-left: 10px; */
    z-index: -1;
}
.maldivsRetext{
    position: relative;
    top:180px ;
}
.maldivsRepro{
    position: relative;
    top: -40px;
}
.bandorban{
    position: relative;
    left: 10px;
}
/* choos us area */
.choos-us{
    display: grid;
    justify-content: center;
}
.titel{
    display: grid;
    justify-content: center;   
    text-align: center;
}
.titel h1{
    font-size: 48px;
    padding: 20px;
    margin-bottom: 20px;
}
.titel p{
    font-size: 20px;
    padding: 20px;
    
}
.cardLind1{
    display: flex;
    /* border: 5px solid yellow; */
}
.card1{
    border-radius: 16px;
    /* border: 1px solid rgba(251, 181, 99, 0.20); */
    background: rgba(251, 181, 99, 0.05);
    padding: 5px;
    margin: 10px;

}
.card2{
    border-radius: 16px;
    /* border: 1px solid rgba(41, 206, 246, 0.20); */
    background: rgba(41, 206, 246, 0.05);
    padding: 5px;
    margin: 10px;
}
.iconFont{
    font-size: 35px;
}
.cardHeading{
    font-size: 48px;
}
.card3{
    display: grid;
    justify-content: center;
    border-radius: 16px;
    /* border: 1px solid rgba(233, 68, 68, 0.20); */
    background: rgba(233, 68, 68, 0.05);
    padding: 20px;
    margin-bottom: 40px;

}
/* offer side css  */

.Offer1
{
    height: 500px;
    width: 1120px;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    justify-content: end;
    color: rgb(6, 6, 6);
}
.Offer1::before{
    content: "";
    display: block; /* Add this line */

    position: absolute;
    left: -10px;
    background: url('./Images/offer1.png') no-repeat center center/cover;
     /* background-size: cover; */
    height: 100%;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
}

.offer-contener{
    position: relative;
    right: 20px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 10px;
    }
.offcerIcons{
    display: flex;
}
.offerIcon{
    color: #FF5400;
    font-size: 30px;

}
.offerText{
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-right: 5px;
    margin-right: 10px;
}
.offer-discription h1{
    font-size: 48px;
    padding: 20px;
}
.offer-subheading{
    font-size: 20px;
    padding: 10px;
}
.offerPrice{
    font-size: 30px;
}
.offerBtn{
    width: 200px;
    height: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    color:aliceblue;
    background: #FF5400;
    border: none;
    border-radius: 5px;

}
.Offer2
{
    height: 500px;
    width: 1120px;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: end;
    text-align: center;
    /* justify-content: end; */
    color: rgb(6, 6, 6);
    margin: 20px 0px;
}
.Offer2::before{
    content: "";
    display: block; /* Add this line */

    position: absolute;
    left: -10px;
    background: url('./Images/offer2.png') no-repeat center center/cover;
     /* background-size: cover; */
    height: 100%;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
}
.bolivia{
    position: relative;
    margin-bottom: 20px ;
    margin-left: 30px;
}
.Perfect-Place
{
    /* border: 5px solid black; */
    padding: 40px 5px;
}
.Perfect-Place
{
    display: flex;
}
.pplist{
    color: black;
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.PPvideo{
    position: relative;
    top: 100%;
}
.srcVideo{
    position: relative;
    /* height: 500px; */
    padding: 100px;
    padding-left: 0px;
}

/* newslatter */
.newletter{
    display: flex;
    justify-content: space-between;
}
.linkSave
{
    height: 500px;
    width: 50%;
    position: relative;
    display: flex;
    align-items: end;
    text-align: center;
    padding-right: 100px;
    justify-content: end;
    color: rgb(6, 6, 6);
    margin: 20px 0px;
}
.linkSave::before{
    content: "";
    display: block; /* Add this line */

    position: absolute;
    left: -10px;
    background: url('./Images/newlatter.png') no-repeat center center/cover;
     /* background-size: cover; */
    height: 100%;
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
}

.stiker{
    background:#FF5400;
    position: relative;
    top: -102px;
    right: -95px;
    transform: rotate(-45deg);
    padding: 10px;
    border-radius: 15px;
}
.stiker h3{
    font-size: 30px;

}
.stiker h1{
    font-size: 45px;
}
/* News letter */
.SubFrom{
    padding: 10px;
    display: grid;
    align-items: center;
    /* gap: -210px; */
    border: 2px solid #FF5400;
    border-radius: 5px;
    margin: 25px 50px;
}
.SubFrom h1{
    font-size: 48px;
    padding: 0px;
    position: relative;
    top: 20px;
}
.SubFrom p{
    padding: 0px;
    margin: 0;
    position: relative;
    top: -20px;
}
.newletter-input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 60px;
    width: 400px;
    padding: 0px;
    margin: 0px;
    border: none;
    position: relative;
    top: -30px;
    padding-left: 30px;
}
.fix{
    position: relative;
    top: -60px;
}
.subBtn{
    height: 40px;
    position: relative;
    top: -90px;
    color: aliceblue;
    background: #FF5400;
    border: none;
    height: 40px;
    border-radius: 10px;
    padding-bottom: 0px;
}
.footer{
    position: relative;
    background: rgba(19, 19, 24, 0.05);
    top: 80px;
    padding: 100px;
}
.logo2{
    display: flex;
    justify-content: center;
}
.logo2 h3{
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    font-size: 48px;
    
}
.color2{
    color: #FF5400;
    padding-left: 10px;
    margin: 5px;
}
.footertext{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    top: 20px;
}
.footerIcon{
    display: flex;
    justify-content: center;
    padding: 120px 40px;
    margin: 40px 250px;
    border-bottom: 2px solid gray;
}
.footerIcons{
    font-size: 35px;
    padding: 15px;

}
.rigth{
    display: flex;
    justify-content: center;
}